In [1]:
import pandas as pd
import os
import librosa
import numpy as np
import scipy
import re


#Pickling
from six.moves import cPickle as pickle

# import pickle

In [4]:
try:
    with open('data/EricPattern/','rb') as f:
        save = pickle.load(f)
        
except Exception as e:
    print('Error loading base datasets pickle: ', e)

In [5]:
pd.read_pickle('data/EricPattern/df_pid_pattern_elvis_8_reduced.pkl').head()

      pattern  pid
0   like a .+    0
1      a .+ üôè    1
2      .+ üôè üèº    2
3  being a .+    3
4    .+ you .    4

In [6]:
pd.read_pickle('data/DeepEmoAPI/pkl/df_pid_pattern.pkl').head()

   pid                 pattern
0    0            .+ <hashtag>
1    1  .+ <hashtag> <hashtag>
2    2            <hashtag> .+
3    3                   .+ \.
4    4                    .+ !

In [7]:

pd.read_pickle('data/DeepEmoAPI/pkl/df_word2cluster_senti.pkl').head()

   cluster word
0      511  the
1       97  you
2      465   to
3      318   is
4      511  and

In [10]:
pd.read_pickle('data/DeepEmoAPI/pkl/df_grained_vec_pad_v2.pkl').head()

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0_C0,0.092165,0.168383,0.180030,0.069892,0.114272,0.043576,0.201241,0.130440
0_C1,0.055345,0.162133,0.173348,0.064117,0.211184,0.051591,0.193772,0.088510
0_C100,0.092405,0.182565,0.195968,0.096735,0.092632,0.062282,0.095007,0.182406
0_C1000,0.155841,0.120655,0.165701,0.196628,0.043793,0.071936,0.069897,0.175549
0_C1003,0.186272,0.131817,0.202672,0.108498,0.017513,0.088206,0.083061,0.181962